.solved-area {
  height: 28vh;
}

.solved-area section {
  height: 100%;
}

.solved-list {
  overflow-x: hidden;
  overflow-y: auto;
  height: 73%;
}

.solved-list div {
  margin: 1vh;
}

.solved-problem{
  border-radius: 1%;
  margin: 0.5vh;
 
}

.header-solved{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  
  min-height: 60px;
  padding: 10px;
  margin-top: 0vh;
  margin-bottom: 0vh;
  box-sizing:border-box;
}