.problem-header {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  align-items: center;
  margin-bottom: 0;
}

.problem-header * {
  margin-top: 0.5vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.problem-header div {
  margin-bottom: 0;
}

.problem-room-number {
  display: flex;
  justify-content: space-between;
  font-size: 10pt;
  align-items: center;
  align-content: flex-start;
}

.problem-room-number header {
  color: rgb(255, 255, 255);
  font-size: 3vh;
  background-color: #188262;
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
  padding: 0.3vw;
  margin-bottom: 1vh;
  line-height: 3vh;
  text-align: center;
  margin-left: 0.5vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.problem-details {
  border: solid black 1px;
  background-color: rgba(229, 229, 229, 1);
}
