.problemRow {
  margin: 0.5vh;
  background-color: rgba(229, 229, 229, 1);
}

.problemRowGreen {
  border-radius: 1%;
  margin: 0.5vh;
  background-color: rgb(158, 255, 158);
}

.problemRowRed {
  border-radius: 1%;
  margin: 0.5vh;
  background-color: rgb(255, 158, 158);
}

.problemRowYellow {
  border-radius: 1%;
  margin: 0.5vh;
  background-color: rgb(249, 255, 158);
}
