.problem-buttons {
  display: flex;
  justify-content: space-around;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  font-size: 10px;
  height: 3vh;
}
.counter {
  display: flex;
}
