.App {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(https://cdn.mos.cms.futurecdn.net/reaVPYbHtVWG8WHFPrgdvB.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* .App div {
  border-color: red;
  border-style: solid;
  border-radius: 1px;
} */

.App section {
  border-color: #52a3ff;
  border-width: 3px;
  border-collapse: separate;
  border-spacing: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  border-style: solid;
  border-radius: 5px;
  height: 98%;
}
