.App {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App div {
  border-color: red;
  border-style: solid;
  border-radius: 1px;
}

.App section {
  border-color: blue;
  border-style: solid;
  border-radius: 1px;
}
