.userlist {
  text-align: left;
  list-style-type: none;
}
.userlist li {
  display: flex;
  margin-bottom: 0.5vh;
  border-radius: 1%;
  width: 90%;
}

.roomSelect {
  margin-left: 2vw;
  width: 8vw;
  height: 2vh;
}

.available {
  background-color: rgb(158, 255, 158);
}

.unavailable {
  background-color: rgb(255, 158, 158);
}

.coaches-heading {
  display: flex;
  justify-content: space-around;
}
